.column {
    float: left;
  }

.img {
    position: relative;
  }

  

  .card {
    position: relative;
    float: left;
    width: 33%;
    background-color: beige;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 3px;
    margin-bottom: 5px;
  }

  p{
   text-align: center; 
  }

  button{
    margin-left: 100px;
  }

  .sale {
    font-weight: bold;
    color: green;
  }


  .new{
    position: absolute;
    top: 5;
    left: 0;
    border-radius: 50%;
    color: green;
  }

  .discount {

  }

  /* Clear floats after the columns */



  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }