

.container{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: baseline; */
    flex-wrap: wrap;
}


.p {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
}