.box{
    min-height: 50px; 
    width: 50px; 
    background-color: yellow; 
    margin-top:10px;
    margin-left: 10px;
    border: black solid 2px;

  }

.column{
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right{
  display: flex;

}